<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MuniLoginMapper">
  <select id="selectAll" resultType="model.MuniLogin">
    select *
    from munilogin;
  </select>
  <select id="selectByUserIdAndMuniCode" resultType="model.MuniLogin">
    select *
    from munilogin
    where userid = #{userid}
      and muni_municode = #{muni_municode};
  </select>
  <select id="selectByUserId" resultType="model.MuniLogin">
    select *
    from munilogin
    where userid = #{userid};
  </select>
</mapper>
