<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.OccInspectionMapper">
  <select id="selectAll" resultType="model.OccInspection">
    select *
    from occinspection;
  </select>

  <select id="selectById" resultType="model.OccInspection">
    select *
    from occinspection
    where inspectionID = #{inspectionID};
  </select>

  <select id="selectByUserId" resultType="model.OccInspection">
    select *
    from occinspection
    where inspector_userid = #{userId};
  </select>
</mapper>