<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.OccInspectionDispatchMapper">

  <select id="selectAllByUserIdAndMuni" resultType="model.OccInspectionDispatch">
    select *
    from occinspectiondispatch
    where retrievedby_userid = #{userid}
      and municipality_municode = #{muni_municode};
  </select>
</mapper>
